<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241850644848-g2c6d58ds492u2o6hb5oj391pkfmg4rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241850644848-g2c6d58ds492u2o6hb5oj391pkfmg4rp</string>
	<key>API_KEY</key>
	<string>AIzaSyB9rrRtuxhhNPZ2y_O2u8okNriO6Bi8yzg</string>
	<key>GCM_SENDER_ID</key>
	<string>241850644848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlperErden.instagramclone2</string>
	<key>PROJECT_ID</key>
	<string>instasinisikeyim</string>
	<key>STORAGE_BUCKET</key>
	<string>instasinisikeyim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241850644848:ios:105fdd9d31956266feb7b5</string>
</dict>
</plist>